@import "mixins/mixins";

@include b(steps) {
  display: flex;

  @include m(simple) {
    padding:     0.13rem 8%;
    border-radius:  0.004rem;
    background: $--background-color-base;
  }

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    height: 100%;
    flex-flow: column;
  }
}
