@import "mixins/mixins";
@import "checkbox";
@import "tag";
@import "common/var";

@include b(table-column) {
  @include m(selection) {
    .cell {
      padding-left:     0.14rem;
      padding-right:     0.14rem;
    }
  }
}

@include b(table-filter) {
  border: solid  0.001rem $--border-color-lighter;
  border-radius:  0.002rem;
  background-color: $--color-white;
  box-shadow: $--dropdown-menu-box-shadow;
  box-sizing: border-box;
  margin:  0.002rem 0;

  /** used for dropdown mode */
  @include e(list) {
    padding:  0.005rem 0;
    margin: 0;
    list-style: none;
    min-width: 1.00rem;
  }

  @include e(list-item) {
    line-height:     0.36rem;
    padding: 0     0.10rem;
    cursor: pointer;
    font-size: $--font-size-base;

    &:hover {
      background-color: $--dropdown-menuItem-hover-fill;
      color: $--dropdown-menuItem-hover-color;
    }

    @include when(active) {
      background-color: $--color-primary;
      color: $--color-white;
    }
  }

  @include e(content) {
    min-width: 1.00rem;
  }

  @include e(bottom) {
    border-top:  0.001rem solid $--border-color-lighter;
    padding:  0.008rem;

    button {
      background: transparent;
      border: none;
      color: $--color-text-regular;
      cursor: pointer;
      font-size: $--font-size-small;
      padding: 0  0.003rem;

      &:hover {
        color: $--color-primary;
      }

      &:focus {
        outline: none;
      }

      &.is-disabled {
        color: $--disabled-color-base;
        cursor: not-allowed;
      }
    }
  }

  @include e(wrap) {
    max-height: 2.80rem;
  }

  @include e(checkbox-group) {
    padding:     0.10rem;

    label.el-checkbox {
      display: block;
      margin-right:  0.005rem;
      margin-bottom:  0.008rem;
      margin-left:  0.005rem;
    }

    .el-checkbox:last-child {
      margin-bottom: 0;
    }
  }
}