/* Element Variables */
// Override Element UI variables
/* Element Variables */
// Apply overrided variables in Element UI
/*Globel Variables */
$--color-primary: #29CDB3;
$--color-success: #7ED321;
$--color-warning: #F5A623;
$--color-danger: #D0021B;
$--color-info: #999999;
$--color-text-primary: #333333;
$--color-text-regular: #666666;
$--color-text-secondary: #999999;
$--color-text-placeholder: #CCCCCC;
$--border-color-base: #CCCCCC;
$--border-color-light: #D9D9D9;
$--border-color-lighter: #EBEBEB;
$--border-radius-base:0.04rem;
$--background-color-base: #F0F2F5;
$--box-shadow-base: 0 0.004rem 0.012rem rgba(0, 0, 0, 0.2);
$--box-shadow-light: 0 0.004rem 0.012rem 0 rgba(0, 0, 0, 0.1);
$--font-size-extra-large: 0.018rem;
$--font-size-small: 0.012rem;
$--font-size-large: 0.016rem;
$--font-size-medium: 0.014rem;
$--font-weight-secondary: 400;
$--input-medium-height: 0.32rem;
$--button-medium-font-size:0.14rem;
$--button-medium-padding-vertical:0.08rem;