
/*
$--color-text-disabled: icon
 */
 $--color-text-disabled: rgba(131, 173, 255, 0.6)!default; 
// Override Element UI variables 
$--alert-title-font-size:    0.14rem;
$--alert-close-customed-font-size:    0.14rem;
$--alert-icon-large-size:    0.24rem;
$--avatar-icon-font-size:    0.12rem;
$--avatar-background-color: #F0F2F5;
$--avatar-medium-size:    0.32rem;
$--avatar-small-size:    0.24rem;
$--button-small-padding-vertical:  0.005rem;
$--button-small-padding-horizontal:    0.12rem;
$--button-mini-padding-vertical:  0.001rem;
$--button-mini-padding-horizontal:  0.004rem;
$--calendar-selected-background-color: #E9F8E4;
$--checkbox-background-color: #ffffff;
$--checkbox-checked-background-color: $--color-primary;
$--checkbox-button-checked-background-color: $--color-primary;
$--checkbox-font-size:    0.14rem;
$--button-padding-horizontal:    0.16rem;
$--button-medium-padding-horizontal:    0.16rem;
$--checkbox-border-radius: $--border-radius-base;
$--checkbox-bordered-padding:  0.008rem    0.20rem  0.008rem    0.20rem;
$--checkbox-bordered-medium-padding:  0.006rem    0.16rem  0.006rem    0.10rem;
$--checkbox-bordered-mini-padding:  0.004rem    0.14rem  0.004rem    0.10rem;
$--checkbox-bordered-medium-height:    0.32rem;
$--checkbox-bordered-small-height:    0.24rem;
$--checkbox-bordered-mini-height:    0.16rem;
$--collapse-header-font-size:    0.14rem;
$--collapse-content-font-size:    0.14rem;
$--input-small-font-size:    0.12rem;
$--input-small-height:    0.24rem;
$--input-mini-height:    0.16rem;
$--loading-spinner-size:    0.48rem;
$--loading-fullscreen-spinner-size:    0.56rem;
$--messagebox-error-font-size:    0.16rem;
$--notification-padding:    0.14rem    0.26rem    0.14rem    0.14rem;
$--pagination-font-size:    0.14rem;
$--pagination-button-height:    0.32rem;
$--pagination-button-width:    0.32rem;
$--rate-icon-size:    0.16rem;
$--rate-icon-margin:  0.008rem;
$--select-option-height:    0.32rem;
$--select-dropdown-max-height: 2.8rem;
$--slider-height:  0.004rem;
$--tooltip-padding:  0.008rem;
$--transfer-item-height:    0.32rem;
$--badge-padding:  0.006rem;
$--badge-size:    0.16rem;

 