@import "../common/var";

@include b(year-table) {
  font-size:     0.12rem;
  margin: -1px;
  border-collapse: collapse;

  .el-icon {
    color: $--datepicker-icon-color;
  }

  td {
    text-align: center;
    padding:     0.20rem  0.003rem;
    cursor: pointer;

    &.today {
      .cell {
        color: $--color-primary;
        font-weight: bold;
      }
    }

    &.disabled .cell {
      background-color: $--background-color-base;
      cursor: not-allowed;
      color: $--color-text-placeholder;

      &:hover {
        color: $--color-text-placeholder;
      }
    }

    .cell {
      width:     0.48rem;
      height:     0.32rem;
      display: block;
      line-height:     0.32rem;
      color: $--datepicker-font-color;
      margin: 0 auto;

      &:hover {
        color: $--datepicker-hover-font-color;
      }
    }

    &.current:not(.disabled) .cell {
      color: $--datepicker-active-color;
    }
  }
}
